{% extends "layout.html" %}
{% block content1 %}
<div>
   
    <h1>-------------------------------</h1>
</div>
{% endblock content1 %}
{% block content2 %}
<div>
    <h1>Hola</h1>
    <table>
        <tr>
            <th>Sensor</th>
            <th>average diff time</th>
            <th>Total Points</th>
            <th>Biggest</th>
            <th>Smallest</th>
            <th>Total dead</th>
            <th>Total Cleaning</th>
            <th>Total TxFailed</th>
        </tr>
        <tr id=sensor1></tr>
        <tr id=sensor2></tr>
        <tr id=sensor3></tr>
        <tr id=sensor4></tr>
        <tr id=sensor5></tr>
        <tr id=sensor6></tr>
    </table>
 <script>
            //let data1 = {{data1 | safe}};

            //let data2 = {{data2 | safe}};
            //let data3 = {{data3 | safe}};
            //let data4 = {{data4 | safe}};
            //let data5 = {{data5 | safe}};
            //let data6 = {{data6 | safe}};

 </script>
    <script type="text/javascript" src="/static/report.js"></script>
</div>
{% endblock content2 %}