<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1p1 solid #dddddd;
        te1t-align: left;
        padding: 8p1;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
</head>

<body>
    <div>
        <h5>{{data[1]}}</h5>
        <h5>{{data[2]}}</h5>
        <h5>{{data[3]}}</h5>
        <h5>{{data[4]}}</h5>
        <h5>{{data[5]}}</h5>
        <h5>{{data[6]}}</h5>
        <h1>-------------------------------</h1>
    </div>
    <div>
        <h1>Hola</h1>
        <table>
            <tr>
                <th>Sensor</th>
                <th>average diff time</th>
                <th>Total Points</th>
                <th>Biggest</th>
                <th>Smallest</th>
                <th>Total dead</th>
                <th>Total Cleaning</th>
                <th>Total TxFailed</th>
            </tr>
            <tr id=sensor1></tr>
            <tr id=sensor2></tr>
            <tr id=sensor3></tr>



        </table>
        <script script type="text/javascript">

        setInterval(
            function() {
                const source = new EventSource("/");
                data1 = {{data[1]}};
                data2 = {{data[2]}};
                data3 = {{data[3]}};
                data4 = {{data[4]}};
                data5 = {{data[5]}};
                data6 = {{data[6]}};
                document.getElementById("sensor1").innerHTML =
                    "<td>   1   </td>" +
                    "<td>" + data1[1] + "</td>" +
                    "<td>" + data1[2] + "</td>" +
                    "<td>" + data1[3] + "</td>" +
                    "<td>" + data1[4] + "</td>" +
                    "<td>" + data1[5]+ "</td>" +
                    "<td>" + data1[6] + "</td>" +
                    "<td>" + data1[7] + "</td>" ;
                document.getElementById("sensor2").innerHTML =    
                    "<td>   2   </td>" +
                    "<td>" + data2[1] + "</td>" +
                    "<td>" + data2[2] + "</td>" +
                    "<td>" + data2[3] + "</td>" +
                    "<td>" + data2[4] + "</td>" +
                    "<td>" + data2[5]+ "</td>" +
                    "<td>" + data2[6] + "</td>" +
                    "<td>" + data2[7] + "</td>";
                    /*
                document.getElementById("sensor3").innerHTML = 
                    "<td>   3   </td>" +
                    "<td>" + data3[1] + "</td>" +
                    "<td>" + data3[2] + "</td>" +
                    "<td>" + data3[3] + "</td>" +
                    "<td>" + data3[4] + "</td>" +
                    "<td>" + data3[5]+ "</td>" +
                    "<td>" + data3[6] + "</td>" +
                    "<td>" + data3[7] + "</td>"+;
                    
                document.getElementById("sensor4").innerHTML = 
                    "<td>   4   </td>" +
                    "<td>" + data4[1] + "</td>" +
                    "<td>" + data4[2] + "</td>" +
                    "<td>" + data4[3] + "</td>" +
                    "<td>" + data4[4] + "</td>" +
                    "<td>" + data4[5]+ "</td>" +
                    "<td>" + data4[6] + "</td>" +
                    "<td>" + data4[7] + "</td>";
                document.getElementById("sensor5").innerHTML = 
                    "<td>   5   </td>" +
                    "<td>" + data5[1] + "</td>" +
                    "<td>" + data5[2] + "</td>" +
                    "<td>" + data5[3] + "</td>" +
                    "<td>" + data5[4] + "</td>" +
                    "<td>" + data5[5]+ "</td>" +
                    "<td>" + data5[6] + "</td>" +
                    "<td>" + data5[7] + "</td>";
                document.getElementById("sensor6").innerHTML = 
                    "<td>   6   </td>" +
                    "<td>" + data6[1] + "</td>" +
                    "<td>" + data6[2] + "</td>" +
                    "<td>" + data6[3] + "</td>" +
                    "<td>" + data6[4] + "</td>" +
                    "<td>" + data6[5]+ "</td>" +
                    "<td>" + data6[6] + "</td>" +
                    "<td>" + data6[7] + "</td>";
                    */
                    }, 2000);
            </script>
        <script type="text/javascript">

        setInterval(
            function() {
                const source = new EventSource("/extract_data");

                //source.onmessage = function(event) {}

            }, 10000);
        </script>
    </div>
</body>

</html>