<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1p1 solid #dddddd;
        te1t-align: left;
        padding: 8p1;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
</head>

<body>
    <div>
        <h1>Hola</h1>
        <table>
            <tr>
                <th>Sensor</th>
                <th>average diff time</th>
                <th>Total Points</th>
                <th>Biggest</th>
                <th>Smallest</th>
                <th>Total dead</th>
                <th>Total Cleaning</th>
                <th>Total TxFailed</th>
            </tr>
            <tr id=demo></tr>
        </table>
        <script script type="text/javascript">
        //data = myFunc({{data|tojson}});
        var index = 1;
        setInterval(
            function() {
                document.getElementById("demo").innerHTML =
                    "<td>   1   </td>" +
                    "<td>" + {{data[1][1]}} + "</td>" +
                    "<td>" + {{data[1][2]}} + "</td>" +
                    "<td>" + {{data[1][3]}} + "</td>" +
                    "<td>" + {{data[1][4]}} + "</td>" +
                    "<td>" + {{data[1][5]}} + "</td>" +
                    "<td>" + {{data[1][7]}} + "</td>" +
                    "<td>" + {{data[1][9]}} + "</td>"+
                    "<td>" + index + "</td>";
                const source = new EventSource("/");
                //source.onmessage = function(event) {}
                index+=1;
                console.log(index);
            }, 2000);
        </script>
        <script script type="text/javascript">
        //data = myFunc({{data|tojson}});

        setInterval(
            function() {
                const source = new EventSource("/extract_data");
                //source.onmessage = function(event) {}

            }, 60000);
        </script>
    </div>
</body>

</html>